element.style {
}

#quarto-content.page-columns #quarto-margin-sidebar,
#quarto-content.page-columns #quarto-sidebar {
    z-index: 1;
}

.sidebar.toc-left,
.sidebar.margin-sidebar {
    top: 0px;
    padding-top: 1em;
}

.sidebar.margin-sidebar {
    grid-column: body-end / page-end;
    grid-row: content-top / page-bottom;
}

.sidebar {
    will-change: top;
    transition: top 200ms linear;
    position: sticky;
    overflow-y: auto;
    padding-top: 1.2em;
    max-height: 100vh;
}

.page-columns > * {
    grid-column: body-content-start / body-content-end;
}

*, *::before, *::after {
    box-sizing: border-box;
}

div {
    display: block;
    unicode-bidi: isolate;
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
    --mermaid-bg-color: #ffffff;
    --mermaid-edge-color: #6c757d;
    --mermaid-node-fg-color: #212529;
    --mermaid-fg-color: #212529;
    --mermaid-fg-color--lighter: #383f45;
    --mermaid-fg-color--lightest: #4e5862;
    --mermaid-font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Noto Sans, Liberation Sans, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    --mermaid-label-bg-color: #ffffff;
    --mermaid-label-fg-color: #0d6efd;
    --mermaid-node-bg-color: rgba(13, 110, 253, 0.1);
    --mermaid-node-fg-color: #212529;
}

:root {
    --quarto-body-bg: #ffffff;
    --quarto-body-color: #212529;
    --quarto-text-muted: rgba(33, 37, 41, 0.75);
    --quarto-border-color: #dee2e6;
    --quarto-border-width: 1px;
    --quarto-border-radius: 0.375rem;
}

:root {
    --bslib-value-box-shadow: none;
    --bslib-value-box-border-width-auto-yes: var(--bslib-value-box-border-width-baseline);
    --bslib-value-box-border-width-auto-no: 0;
    --bslib-value-box-border-width-baseline: 1px;
}

:root {
    --bslib-page-sidebar-title-bg: #517699;
    --bslib-page-sidebar-title-color: #ffffff;
}

:root {
    --bslib-spacer: 1rem;
    --bslib-mb-spacer: var(--bslib-spacer, 1rem);
}

:root {
    --bs-breakpoint-xs: 0;
    --bs-breakpoint-sm: 576px;
    --bs-breakpoint-md: 768px;
    --bs-breakpoint-lg: 992px;
    --bs-breakpoint-xl: 1200px;
    --bs-breakpoint-xxl: 1400px;
}

:root {
    font-size: var(--bs-root-font-size);
}

:root, [data-bs-theme=light] {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #ffffff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-default: #dee2e6;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-default-rgb: 222, 226, 230;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-primary-text-emphasis: #052c65;
    --bs-secondary-text-emphasis: #2b2f32;
    --bs-success-text-emphasis: #0a3622;
    --bs-info-text-emphasis: #055160;
    --bs-warning-text-emphasis: #664d03;
    --bs-danger-text-emphasis: #58151c;
    --bs-light-text-emphasis: #495057;
    --bs-dark-text-emphasis: #495057;
    --bs-primary-bg-subtle: #cfe2ff;
}

:root {
    --quarto-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

:root {
    --quarto-hl-ot-color: #003B4F;
    --quarto-hl-at-color: #657422;
    --quarto-hl-ss-color: #20794D;
    --quarto-hl-an-color: #5E5E5E;
    --quarto-hl-fu-color: #4758AB;
    --quarto-hl-st-color: #20794D;
    --quarto-hl-cf-color: #003B4F;
    --quarto-hl-op-color: #5E5E5E;
    --quarto-hl-er-color: #AD0000;
    --quarto-hl-bn-color: #AD0000;
    --quarto-hl-al-color: #AD0000;
    --quarto-hl-va-color: #111111;
    --quarto-hl-bu-color: inherit;
    --quarto-hl-ex-color: inherit;
    --quarto-hl-pp-color: #AD0000;
    --quarto-hl-in-color: #5E5E5E;
    --quarto-hl-vs-color: #20794D;
    --quarto-hl-wa-color: #5E5E5E;
    --quarto-hl-do-color: #5E5E5E;
    --quarto-hl-im-color: #00769E;
    --quarto-hl-ch-color: #20794D;
    --quarto-hl-dt-color: #AD0000;
    --quarto-hl-fl-color: #AD0000;
    --quarto-hl-co-color: #5E5E5E;
    --quarto-hl-cv-color: #5E5E5E;
    --quarto-hl-cn-color: #8f5902;
    --quarto-hl-sc-color: #5E5E5E;
    --quarto-hl-dv-color: #AD0000;
    --quarto-hl-kw-color: #003B4F;
}
